<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="http://bahiamarina-cidade.dyndns.info:9090/SistemaChamadoBM/">
                        Grupo Cidade
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Feito pelo setor de TI do
            <a href="http://bahiamarina-cidade.dyndns.info:9090/SistemaChamadoBM/" target="_blank">Grupo Cidade</a>
        </div>
    </div>
</footer>