<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Importação de Titulos</h4>
                        <p class="card-category">Indique os parametros para importação dos titulos.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input name="dataInicial" [(ngModel)]="titulo.dataInicial" required matInput placeholder="Data Inicial" type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input name="dataFinal" [(ngModel)]="titulo.dataFinal" required matInput placeholder="Data Final" type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input name="codEmpresa" [(ngModel)]="titulo.codEmpresa" required matInput placeholder="Código da Empresa" type="number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input name="documento" [(ngModel)]="titulo.documento" matInput placeholder="Documento" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input name="tipo" [(ngModel)]="titulo.tipo" matInput placeholder="Tipo" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input name="situacao" [(ngModel)]="titulo.situacao" matInput placeholder="Situação" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input name="cpfCnpj" [(ngModel)]="titulo.cpfCnpj" matInput placeholder="CPF/CNPJ" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input name="codVenda" [(ngModel)]="titulo.codVenda" matInput placeholder="Código da Venda" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input name="pdv" [(ngModel)]="titulo.pdv" matInput placeholder="PDV" type="number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input name="centroCusto" [(ngModel)]="titulo.centroCusto" matInput placeholder="Centro de Custo" type="number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label> A partir dos dados inseridos, será realizada uma consulta de titulos diretamente no servidor
                    da Redesoft.</label>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="importar()" class="btn btn-danger pull-right">Importar Titulos</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>